@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: auto;
}

body {
    background-color: #ffebf6;
    position: relative;
    display: flex;
}

body, body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

button {
    border: solid 1px;
    padding: 10px;
}

button:hover {
    scale: 95%;
}

#sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: auto;
    min-height: 100vh;
    padding: 30px;
    gap: 25px;
    border-right: solid 1px black;
}

#addProject {
    width: 8rem;
    background-color: #ffebf6;
}

#projects {
    list-style: none;
}

#projects li {
    padding-bottom: 20px;
}

#main  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#project {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0;
    gap: 20px;
}

.addTodo {
    background-color: white;
    width: 10rem;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;
}

.frontInfo, .backInfo {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.priority {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 15px;
    text-align: center;
    border: solid 1px;
}

.status {
    width: 1.3rem;
    height: 1.3rem;
}


/* Popups */

#addingProject, #addingTodo, #editTodo {
    border: solid 1px black;
}

#addingProject, #addingTodo, #editTodo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 35vw;
    display: none;
}

#addingProject {
    height: 26vh;
}

#addingTodo, #editTodo {
    height: 53vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form > div {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#addingTodo input, #addingProject input, #editTodo input {
    height: 4vh;
}

input {
    width: 100%;
}

#projectTitle, #priority, #editPriority {
    margin-bottom: 10px;
}

.addButton {
    width: 8vw;
    margin-left: auto;
    padding: 8px;
}